@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/Blogo/ManageUsers.js")"></script>
<h2>Users and roles</h2>
<div id="SearchBlock">Find user by name: <input type="text" id="UserName"/> <input type ="button" id="search" value="search"/></div>
<div id="users"></div>
