@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<img src="http://4.bp.blogspot.com/-L0PPPPwk4eA/TWdsdUy1CII/AAAAAAAAAJI/nv_KnT6y-oc/s1600/184968_202284706450702_200635923282247_782078_4339797_n.jpg"/>




