@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <img src="http://24.media.tumblr.com/tumblr_mefdz2EiVt1ra4ssmo1_500.jpg" />
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        No way
    </p>
</section>